<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="/src/images/spotify logo.svg" type="image/x-icon">
    <title>Spotify API</title>
</head>
<body class="selection:bg-[#20d46573]">

    <div id="navbar" class="flex lg:justify-between justify-center">
        <div class="flex items-center">
            <form action="logout" method="get">
                <button class="text-black font-[500] bg-[#20d464] py-2 px-[15px] rounded-3xl text-sm hover:bg-[#20d4652a] transition-all duration-700 m-5">Logout</button>
            </form>
            
            <a href="/home">
                <img src="/src/images/SpotifyAPILogo.svg" alt="Spotify API Logo">
            </a>
            
        </div>

        <form action="/search" method="post">
            <input type="text" autocomplete="off" name="search" id="search" class="bg-transparent text-white focus:outline-none lg:pl-2 pl-0 w-[180px] lg:w-[300px]" placeholder="Search for a song...">
            <button class="text-white font-[500] bg-[#4444447a] py-2 px-[15px] rounded-3xl text-sm hover:bg-[#20d4652a] transition-all duration-700 lg:m-5 mt-5 ml-2 mr-5" type="submit">Search</button>
        </form>
    </div>

    <div class="bg-transparent flex h-fit flex-col items-center mx-auto p-10 w-fit">
        <img src="<%= data.images[1].url %>" class="w-28 rounded-full border-2 border-[#20d465] mb-3" alt="Profile picture">
        <p class="text-white mb-3 text-xs border-[#20d46585] border-b-[2px] p-1">Followers: <%= data.followers.total %></p>
        <p class="text-white text-center font-bold text-base lg:text-xl">Welcome back, <%= data.display_name %><% if (data.product === 'premium') { %> <img src="/src/images/verifiedIcon.svg" alt="Verified icon" class="h-5 inline-block"> <% } %>!</p>
        <button class="text-white font-[500] bg-[#4444447a] mt-5 py-2 px-[15px] rounded-3xl text-sm hover:bg-[#20d4652a] transition-all duration-700" onclick="window.location.href='/favorites'">Favorites</button>
    </div>
    
    <div class="lg:flex gap-6 lg:px-10 px-0 bg-transparent justify-center h-64 mx-auto w-fit my-2">
        
        <div class="bg-[#181818] lg:h-[75%] h-[85%] lg:rounded-lg rounded-none p-5 mb-5 lg:w-[500px] w-full">
            <h2 class="text-white font-semibold">Recent tracks</h2>
            <div class="flex justify-between py-3 gap-3">
            <% recentTracks.items.forEach((item) => {%>
                <div class="text-center flex flex-col justify-center items-center hover:scale-110 transition-all">
                    <a href="<%= item.track.external_urls.spotify %>" target="_blank"><img src="<%= item.track.album.images[0].url %>" class="w-20 rounded-lg mb-1" alt="Album cover"></a>
                    <% if (item.track.name.length > 10)  {%>
                        <p class="text-white text-xs font-bold hover:underline"><%= item.track.name.substring(0, 10) + '...' %></p>
                    <% } else { %>
                        <p class="text-white text-xs font-bold hover:underline"><%= item.track.name %></p>
                    <% } %>
                    
                    <% if (item.track.artists[0].name.length > 10) { %>
                        <p class="text-[#ffffff65] text-sm hover:text-white inline-block"><%= item.track.artists[0].name.substring(0, 10) + '...' %></p>
                    <% } else { %>
                        <p class="text-[#ffffff65] text-sm hover:text-white inline-block"><%= item.track.artists[0].name %></p>
                    <% } %>
                </div>
            <% }) %>
            </div>
        </div>

        <div class="bg-[#181818] h-[75%] lg:rounded-lg rounded-none p-5 lg:w-[500px] w-full">
            <h2 class="text-white font-semibold">Recommended playlists</h2>
            <div class="flex justify-between py-3">
                <% playlist.items.forEach((item) => {%>
                    <div class="text-center flex flex-col justify-center items-center hover:scale-110 transition-all">
                        <a href="<%= item.external_urls.spotify %>" target="_blank"><img src="<%= item.images[0].url %>" class="w-20 rounded-lg mb-1" alt="Playlist cover"></a>
                        <% if (item.name.length > 10)  {%>
                            <p class="text-white text-xs font-bold hover:underline"><%= item.name.substring(0, 10) + '...' %></p>
                        <% } else { %>
                            <p class="text-white text-xs font-bold hover:underline"><%= item.name %></p>
                        <% } %>
                    </div>
                <% }) %>
                </div>
            </div>
        </div>
        <!-- Card de Minutos Escutados no Mês -->
        <div class="bg-[#181818] h-[75%] lg:rounded-lg rounded-none p-5 lg:w-[800px] w-full mx-auto">
            <h2 class="text-white font-semibold">Minutes Listened This Month</h2>
            <div class="flex justify-center items-center py-3">
                <p class="text-white text-xl font-bold"><%= totalMinutes %> minutes</p>
            </div>
        </div>
    </div>

    <!-- Current Track Card -->
    <% if (currentTrack) {%>
        <div class="lg:flex transition-all items-center lg:hover:block lg:bg-[#ffffff0e] bg-[#444444f4] lg:right-3 lg:bottom-5 hidden lg:fixed lg:min-w-56 p-3 lg:p-3 rounded-md border-[1px] border-[#20d464]" id="currentTrack">
            <p class="text-white lg:hidden hidden text-xs lg:text-lg font-bold mb-0">Last song played</p>
            <a id="track-url" href="<%= currentTrack.item.album.external_urls.spotify %>" target="_blank">
                <img id="track-image" class="lg:h-24 lg:w-36 h-14 rounded-md lg:mr-3 mr-5" src="<%= currentTrack.item.album.images[0].url %>" alt="Album image">
            </a>
        
            <div class="flex flex-col justify-center items-start w-full ml-2" id="track-info">
                <p id="track-name" class="text-white text-sm font-bold hover:underline">
                    <a href="<%= currentTrack.item.external_urls.spotify %>" target="_blank"><%= currentTrack.item.name %></a>
                </p>
                <p id="track-artists" class="text-[#ffffff65] text-sm hover:text-white inline-block">
                    <a href="<%= currentTrack.item.album.artists[0].external_urls.spotify %>" target="_blank"><%= currentTrack.item.album.artists[0].name %></a>
                </p>
        
                <!-- Player progress bar -->
                <div class="w-full bg-[#ffffff1a] rounded-full h-1.5 mt-3">
                    <div id="track-progress" class="bg-[#20d465] h-1.5 rounded-full" style="width: 0%;"></div>
                </div>
        
                <!-- Player timing -->
                <div class="flex justify-between w-full mt-1 text-sm">
                    <span id="current-time" class="text-white">0:00</span>
                    <span id="total-time" class="text-[#ffffff65]"><%= Math.floor(currentTrack.item.duration_ms / 60000) %>:<%= ('0' + Math.floor((currentTrack.item.duration_ms % 60000) / 1000)).slice(-2) %></span>
                </div>
            </div>
        </div>
        
    <% }; %>


    <footer class="hidden lg:absolute bottom-2 text-[#ffffff23] left-2 select-none text-sm lg:text-base">All rights reserved - CompassUOL - AI/ML - Grupo 7</footer>
    <script src="/src/scripts/homeScript.js"></script>
</body>
</html>