<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="/src/images/spotify logo.svg" type="image/x-icon">
    <title>Spotify API</title>
</head>
<body class="selection:bg-[#20d46573]">

    <div id="navbar" class="flex justify-between">
        <form action="logout" method="get">
            <button><button class="text-black font-[500] bg-[#20d464] py-2 px-[15px] rounded-3xl text-sm hover:bg-[#20d4652a] transition-all duration-700 m-5">Logout</button>
        </form>

        <form action="/search" method="get">
            <input type="text" autocomplete="off" name="search" id="search" class="bg-transparent text-white focus:outline-none pl-2 w-[300px]" placeholder="Search for a song, artist or album">
            <button class="text-white font-[500] bg-[#4444447a] py-2 px-[15px] rounded-3xl text-sm hover:bg-[#20d4652a] transition-all duration-700 m-5">Search</button>
        </form>
    </div>

    <div class="bg-transparent flex h-64 w-full flex-col items-center mt-5 mx-auto p-10">
        <img src="<%= data.images[1].url %>" class="w-24 rounded-full border-2 border-[#20d465] mb-3" alt="Profile picture">
        <p class="text-white mb-3 text-xs border-[#20d46585] border-b-[2px] p-1">Followers: <%= data.followers.total %></p>
        <p class="text-white text-center font-bold text-base lg:text-xl">Welcome back, <%= data.display_name %><% if (data.product === 'premium') { %> <img src="/src/images/verifiedIcon.svg" alt="Verified icon" class="h-5 inline-block"> <% } %>!</p>
    </div>
    <div class="lg:flex gap-6 px-10 bg-transparent justify-center h-64 mx-auto">
        
        <div class="bg-[#262626] h-[75%] rounded-lg p-5 mb-5 lg:w-[500px]">
            <h2 class="text-white font-semibold">Recent tracks</h2>
            <div class="flex justify-around py-3">
            <% recentTracks.items.forEach((item) => {%>
                <div class="text-center flex flex-col justify-center items-center">
                    <img src="<%= item.track.album.images[0].url %>" class="w-20 rounded-lg mb-1" alt="Album cover">
                    <% if (item.track.name.length > 10)  {%>
                        <p class="text-white text-xs"><%= item.track.name.substring(0, 10) + '...' %></p>
                    <% } else { %>
                        <p class="text-white text-xs"><%= item.track.name %></p>
                    <% } %>
                    
                    <% if (item.track.artists[0].name.length > 10) { %>
                        <p class="text-white text-xs"><%= item.track.artists[0].name.substring(0, 10) + '...' %></p>
                    <% } else { %>
                        <p class="text-white text-xs"><%= item.track.artists[0].name %></p>
                    <% } %>
                </div>
            <% }) %>
            </div>
        </div>
        <div class="bg-[#262626] h-[75%] rounded-lg p-5 lg:w-[500px]">
            <h2 class="text-white font-semibold">Recommended playlists</h2>
            <div class="flex justify-around py-3">
                <% playlist.items.forEach((item) => {%>
                    <div class="text-center flex flex-col justify-center items-center">
                        <img src="<%= item.images[0].url %>" class="w-20 rounded-lg mb-1" alt="Playlist cover">
                        <% if (item.name.length > 10)  {%>
                            <p class="text-white text-xs"><%= item.name.substring(0, 10) + '...' %></p>
                        <% } else { %>
                            <p class="text-white
                            text-xs"><%= item.name %></p>
                        <% } %>
                    </div>
                <% }) %>
                </div>
            </div>
        </div>
    </div>

    <!-- Current Track Card -->
    <% if (currentTrack) {%>
        <div class="flex flex-row items-center lg:block lg:bg-[#ffffff0e] bg-[#444444f4] right-2 bottom-3 p-2 lg:p-5 fixed rounded-md">
            <p class="text-white lg:block hidden text-xs lg:text-lg font-bold mb-2">Last song played</p>
            <a id="track-url" href="<%= currentTrack.item.album.external_urls.spotify %>" target="_blank">
                <img id="track-image" class="lg:h-48 h-14 rounded-md lg:m-0 mr-5" src="<%= currentTrack.item.album.images[0].url %>" alt="Album image">
            </a>

            <div class="flex flex-col">
                <% if (currentTrack.item.name.length > 15) { %>
                    <p id="track-name" class="text-white text-sm font-bold mt-3 hover:underline">
                        <a href="<%= currentTrack.item.external_urls.spotify %>" target="_blank"><%= currentTrack.item.name.substring(0, 10) + '...' %></a>
                    </p>
                <% } else { %>
                    <p id="track-name" class="text-white text-sm font-bold mt-3 hover:underline">
                        <a href="<%= currentTrack.item.external_urls.spotify %>" target="_blank"><%= currentTrack.item.name %></a>
                    </p>
                <% } %>
    
                <% if (currentTrack.item.album.artists.length > 1) { %>
                    <p id="track-artists" class="text-[#ffffff65] text-sm hover:text-white inline-block">
                        <% currentTrack.item.album.artists.forEach((artist, index) => { %>
                            <a href="<%= artist.external_urls.spotify %>" target="_blank"><%= artist.name %></a>
                            <% if (index < currentTrack.item.album.artists.length - 1) { %>,<% } %>
                        <% }) %>
                    </p>
                <% } else { %>
                    <p id="track-artists" class="text-[#ffffff65] text-sm hover:text-white inline-block">
                        <a href="<%= currentTrack.item.album.artists[0].external_urls.spotify %>" target="_blank"><%= currentTrack.item.album.artists[0].name %></a>
                    </p>
                <% } %>
            </div>
        </div>
    <% }; %>


    <footer class="hidden lg:absolute bottom-2 text-[#ffffff23] left-2 select-none text-sm lg:text-base">All rights reserved - CompassUOL - AI/ML - Grupo 7</footer>
    <script src="/src/scripts/homeScript.js"></script>
</body>
</html>