<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="/src/images/spotifyLogo.svg" type="image/x-icon">
    <title> Albums | Spotify API</title>
</head>
<body class="selection:bg-[#20d46573] pb-5">
    <div id="navbar" class="flex lg:justify-between justify-center lg:flex-row flex-col items-center w-full mx-auto">
        <div class="flex items-center">
            <a href="/home">
                <button class="text-white font-[500] bg-[#4444447a] py-2 px-[15px] rounded-3xl text-sm hover:bg-[#20d4652a] transition-all duration-700 m-5">Voltar</button>
            </a>
            
            <a href="/home">
                <img src="/src/images/SpotifyAPILogo.svg" alt="Spotify API Logo">
            </a>
        </div>
        <form id="searchForm" method="POST">
            <div class="">
                <input type="text" autocomplete="off" name="search" id="search" class="bg-transparent text-white pr-5 pl-4 py-1 w-[180px] lg:w-[300px] outline-4 outline outline-[#4444447a] rounded-l-3xl" placeholder="Search for a song...">
                <select class="bg-[#4444447a] text-white appearance-none pl-3 pr-6 py-2 focus:outline-none rounded-r-3xl bg-[url('/src/images/arrow.svg')] bg-no-repeat bg-[length:15px] bg-[position:calc(100%-10px)_center]" name="type" id="type">
                    <option value="track" class="bg-[#444444] text-white">Track</option>
                    <option value="artist" class="bg-[#444444] text-white">Artist</option>
                    <option value="album" class="bg-[#444444] text-white">Album</option>
                </select>
                <button class="text-white font-[500] bg-[#4444447a] py-2 px-[15px] rounded-3xl text-sm hover:bg-[#20d4652a] transition-all duration-700 lg:m-5 ml-2" type="submit">Search</button>
            </div>
        </form>
    </div>
    <div class="bg-transparent flex h-fit flex-col items-center mx-auto p-7 lg:p-6 w-fit">
        <div id="album" class="bg-transparent flex h-fit flex-col items-center mx-auto p-10 w-fit">
            <img src="<%= album.images[0].url %>" class="w-40 h-40 rounded-md">
            <p class="text-center text-white font-bold text-base lg:text-xl mt-2"><%= album.name %></p>
            <p class="text-sm text-center text-[#ffffff65]">Released <%= album.release_date %></p>
            <a href="/artist/<%= album.artists[0].id %>"><p class="text-center text-white font-bold text-base mt-1 hover:underline hover:text-[#1db954]"><%= album.artists[0].name %></p></a>
        </div>
        <div class="bg-[#181818] h-[75%] lg:h-[85%] lg:rounded-lg rounded-none p-5 mb-2 lg:mb-0 lg:w-[500px] w-[385px] mx-auto lg:mx-0">
            <p class="text-base text-white ml-3 font-bold">Tracks - <%= album.total_tracks %></p>
            <div class="justify-center gap-2 lg:gap-3 lg:ml-2">
                <% album.tracks.forEach((tracks) => {%>
                    <div class="text-start items-center flex flex-row gap-2 lg:gap-3 my-1 ms-2">
                        <% if (tracks.name.length > 40)  {%>
                        <a href="/play/<%= tracks.id %>?type=track&redirect=%2Falbum/<%= albumID %>"><p class="text-start text-white text-base mt-2 hover:underline hover:text-[#20d465]"><%= tracks.name.substring(0, 40) + '...' %></p></a>
                        <% } else { %>
                        <a href="/play/<%= tracks.id %>?type=track&redirect=%2Falbum/<%= albumID %>"><p class="text-start text-white text-base mt-2 hover:underline hover:text-[#20d465]"><%= tracks.name %></p></a>
                        <% } %>
                        <a href="/artist/<%= tracks.artists[0].id %>"><p class="text-start text-[#ffffff65] text-base mt-2 hover:underline"> - <%= tracks.artists[0].name %></p></a>
                    </div>
                <% }) %>
            </div>
        </div>
        <a href="/play/<%= albumID %>?type=album&redirect=%2Falbum/<%= albumID %>"><button class="sm:hidden lg:rounded-full lg:w-14 lg:h-14 lg:bg-[#20d465] lg:hover:scale-110 lg:hover:bg-[#38e77b] lg:right-3 lg:bottom-5 lg:fixed lg:block lg:mr-10 lg:mb-6"><img src="\src\images\play-button.svg" class="lg:h-10 lg:w-10 m-auto hidden lg:block"></button></a>
    </div>

    <script src="/src/scripts/searchScript.js"></script>
</body>
</html>