<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="/src/images/spotifyLogo.svg" type="image/x-icon">
    <title><%= search %> | Spotify API</title>
</head>
<body class="selection:bg-[#20d46573]">

    <div id="navbar" class="flex lg:justify-between justify-center lg:flex-row flex-col items-center w-full mx-auto">
        <div class="flex items-center">

            <a href="/home">
                <button class="text-white font-[500] bg-[#4444447a] py-2 px-[15px] rounded-3xl text-sm hover:bg-[#20d4652a] transition-all duration-700 m-5">Voltar</button>
            </a>

            <a href="#">
                <img src="/src/images/SpotifyAPILogo.svg" alt="Spotify API Logo">
            </a>
        </div>

        <form id="searchForm" method="POST">
            <div class="">
                <input type="text" autocomplete="off" name="search" id="search" class="bg-transparent text-white pr-5 pl-4 py-1 w-[180px] lg:w-[300px] outline-4 outline outline-[#4444447a] rounded-l-3xl" placeholder="Search for a song...">
                <select class="bg-[#4444447a] text-white appearance-none pl-3 pr-6 py-2 focus:outline-none rounded-r-3xl bg-[url('/src/images/arrow.svg')] bg-no-repeat bg-[length:15px] bg-[position:calc(100%-10px)_center]" name="type" id="type">
                    <option value="track" class="bg-[#444444] text-white">Track</option>
                    <option value="artist" class="bg-[#444444] text-white">Artist</option>
                    <option value="album" class="bg-[#444444] text-white">Album</option>
                </select>
                <button class="text-white font-[500] bg-[#4444447a] py-2 px-[15px] rounded-3xl text-sm hover:bg-[#20d4652a] transition-all duration-700 lg:m-5 ml-2" type="submit">Search</button>
            </div>
        </form>
    </div>
    

    <div class="mx-auto p-10 pt-5 lg:w-[800px]">
        <h1 class="text-white font-semibold mb-5 lg:text-3xl text-lg">Search results for: <br> "<%= search %>"</h1>

        <% if (error) { %>
            <p title="Please, try to play a track on your spotify app" class="text-rose-500 font-semibold text-sm lg:text-sm cursor-pointer mb-2">No available devices found for playback. Please ensure that a compatible device is active and try again. If the issue persists, try starting playback on another device first.</p>
        <% } %>

        <hr class="border-[#ffffff18] mb-5 border-[1.5px]">

        <div class="flex flex-col items-start gap-3">
            <% data.results.forEach((item) => { %>
                <a href="/artist/<%= item.id %>" class="w-full">
                    <div class="bg-transparent hover:bg-[#52525277] p-2 items-center grid grid-cols-12 w-full hover:scale-90 transition-all">
                        <img class="h-20 lg:h-20 lg:w-20 lg:col-span-2 col-span-4 mr-5" src="<%= item.images[0] %>" alt="Album cover">
                        <div id="card-txt" class="flex flex-col items-start lg:col-span-8 col-span-8 w-fit">
                            <% if (item.name.length > 28) { %>
                                <p class="text-white text-center font-semibold text-sm lg:text-base"><%= item.name.substring(0, 28) + '...' %></p>
                            <% } else { %>
                                <p class="text-white text-center font-semibold text-sm lg:text-base"><%= item.name %>  <% if(item.popularity > 30 && item.followers > 5000) { %><img src="/src/images/verifiedIcon.svg" alt="Verified icon" class="h-5 inline-block"> <% } %></p>
                            <% } %>
                        </div>
                    </div>
                </a>
            <% }) %>
        </div>

    </div>

    <footer class="hidden lg:absolute bottom-2 text-[#ffffff23] left-2 select-none text-sm lg:text-base">All rights reserved - CompassUOL - AI/ML - Grupo 7</footer>
    <script src="/src/scripts/searchScript.js"></script>
</body>
</html>